@charset "utf-8";

*{
    box-sizing: border-box;
}

#container{
    display: flex;
    width: 80%;
    margin: auto;
    height: 800px;
    flex-flow: row wrap;
    border: 3px solid black;
}

.box{
    font-size: 2rem;
    padding: 15px;
    width: 25%;
}

.box1{
    background: plum;
}

.box2{
    background: mediumslateblue;
}

.box3{
    background: paleturquoise;
}

.box4{
    background: mediumturquoise;
}

.box5{
    background: pink;
}

.box6{
    background: peachpuff;
}

@media screen and (min-width: 320px) and (max-width: 720px){
    body{
        background-color: midnightblue;}
        .box{
            width: 50%;
        }
}

.box1{
    order: 3;
}

.box2{
    order: 5;
}
.box3{
    order: 4;
}
.box4{
    order: 1;
}
.box5{
    order: 6;
}
.box6{
    order: 2;
}