@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
}

.container {
	background-color: #555;
	color: #ddd;
	border-radius: 10px;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	max-width: 700px;
}

.container > p {
	font-size: 32px;
}

.question {
	width: 75%;
}

@media (max-width: 576px) {
	.question {
		width: 100%;
		word-spacing: 2px;
	}
}
