@charset "utf-8";

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-width: 100vw; 
}

/* ======================================  HEADER  =========================================== */

header{
    height: 600px;
    margin: 0;
    padding: 0;
}

/* ==== NAV ===== */

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8px;
    display: flex;
    align-items: center;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}

.tittle{
    margin-top: -50px;
    z-index: 1;
}

h1{
    font-size: 9rem;
    font-weight: bold;
    color: white;
    width: 10px;
}

.bold{
    display: flex;
    justify-content: flex-start;
}

.contour{
    display: flex;
    justify-content: flex-end;
    color: transparent rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

/* ===== VIDEO ===== */

.nav-video{
    position: absolute;
    object-fit: cover;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100vw; 
    height: 100vh;
}

.back-video{
    z-index: -1;
}


@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/* =====================================  MAIN  ========================================== */

main{
    margin-left: 40px;
    margin-top: 300px;
}

h2{
    color: #FB625D;
    font-weight: bolder;
    margin-bottom: 30px;
}

h3{
    margin-top: 50px;
    text-align: center;
}

hr{
    color: #FB625D;
}

button{
    background-color: #FB625D;
    color: white;
    width: 22%;
    height: 5%;
    border: none;
    margin-top: 20px;
    margin-bottom: 15px;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover, button:hover{
    background-color: #FFFFFF;
    color: #FB625D;
}

button:hover{
    border: 1px solid #FB625D;
    color: #FB625D;
}

p{
    margin-top: 20px;
}
/* ====  ANGELE  ==== */

.angele{
    width: 70%;
    margin-bottom: 30px;
    margin-left: 120px;
}

#hidden{
    overflow: hidden;
}

/* ====  NONANTE CINQ  ==== */

.nonante-cinq{
    margin-top: 40px;
}

.cd{
    width: 100%;
    height: 70%;
    margin-top: 0;
}

/* =====  NONANTE TOUR  ==== */

.affiche{
    width: 100%;
    margin-bottom: 30px;
}

/* =========================================  FOOTER  =========================================== */

footer{
    background: linear-gradient(to right top, #FB625D, #FFCAC8);
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

.newsletter{
    color: white;
    width: 60%;
    font-size: 17px;
}

.email{
    background-color: none;
}
.footer{
    background-color: none;
    border: 1px solid white;
    margin-top: 10px;
    width: 120px;
    height: 35px;
}