/* projets.css : feuille de style qui s'applique uniquement à la page Projets (projets.html) */

h1 {
    color: white;
    font-size: 46px;
    font-weight: bold;
}

.site-main header p {
    font-size: 20px;
    color: #ddebff;
}

.site-main section h2 {
    font-size: 38px;
    font-weight: bold;
    color: white;
}

.projets h3 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    line-height: 10px;
}

.projets p {
    font-size: 17px;
    color: #ddebff;
}

.projets > img {
    border-radius: 30px;
}

.photo{
    margin-top: 10px;
}

.projets a {
	border-radius: 25px;
	background-color: #071e3f;
	display: block;
	padding: 10px 10px 10px;	
    text-decoration: none;
}

.projets a:hover {
    background-color: #195ec5;
}

.projets {
    width: 220px;
    display: inline-block;
    margin : 5px;
}