@charset "utf-8";

*{
    box-sizing: border-box;
}

#container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-flow: row wrap;
    border: 2px solid burlywood;
}

article{
    display: flex;
    padding: 5px;
    width: 20%;
    margin: auto;
    font-size: 1rem;
    flex-flow: row wrap;
}

/* Taille de l'image */
img{
    width: 100%;
    order: 2;
}

/* Taille du paragraphe */
p{
    width: 100%;
    padding: 10px;
}

.un{
    order: 1;
    width: 100%;
}

.deux{
    order: 2;
    width: 100%;
}


/* Permet de mettre le contenu à la suite quand l'écran est diminué */
@media screen and (min-width: 320px) and (max-width: 720px){

    section.un{
    width: 50%;
    order: 2;
}

section.deux{
    width: 50%;
    order: 1;
    padding-left: 10px;
}

article{
    width: 100%;
}
}

/* -------- VERSION MOBILE -------- */

